<section id="sign-up-form">
    <input type="radio" id="reg-form" name="login-switch">
    <input type="radio" id="log-form" name="login-switch" checked>
    <input type="radio" id="res-form" name="login-switch">
    <form action="/api/users/" method="POST" id="sign-up-form" class="panel form-panel">
        <h2>Please sign up</h2>
        <div class="form-field-group">
            <input class="form-field" type="text" name="firstName" placeholder="First name" required>
            <input class="form-field" type="text" name="lastName" placeholder="Last name" required>
            <input class="form-field" type="tel" name="phoneNumber" placeholder="Phone" required>
            <input class="form-field" type="text" name="username" placeholder="Username" required>
            <input class="form-field" type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign me up!</button>
        </div>
        <div class="forgot">
            Already a member? <label class="label-switch" for="log-form">Sign In Here</label>
        </div>
    </form>
    <form action="/auth/local/" method="POST" id="log-in-form" class="panel form-panel">
        <h2>Please sign in</h2>
        <div class="form-field-group">
            <input class="form-field" type="text" name="username" placeholder="Username" required>
            <input class="form-field" type="password" name="password" placeholder="Password" required>
            <label><input class="login-remember" type="checkbox" name="remember" value="1"> Remember me </label>
            <button type="submit">Log me in!</button>
        </div>
        <div class="forgot">
            <div>Don't have an account! <label class="label-switch" for="reg-form">Sign Up Here</label></div>
            <label class="label-switch" for="res-form">Request Passcode</label>
        </div>
    </form>
    <form action="/auth/local/" method="POST" id="log-in-email-form" class="panel form-panel">
        <h2>Please sign in</h2>
        <div class="form-field-group">
            <input class="form-field" type="email" name="email" placeholder="Email" required>
            <label><input class="login-remember" type="checkbox" name="remember" value="1"> Remember me </label>
            <button type="submit">Log me in!</button>
        </div>
        <div class="forgot">
            <div>Don't have an account! <label class="label-switch" for="reg-form">Sign Up Here</label></div>
            <label class="label-switch" for="res-form">Request Passcode</label>
        </div>
    </form>
    <form action="/passcode" method="POST" id="reset-pass-form" class="panel form-panel">
        <h2>Login securely by requesting a passcode on your email</h2>
        <div class="form-field-group">
            <input class="form-field" type="email" name="email" placeholder="Email" required>
            <button type="submit">Submit</button>
        </div>
        <div class="forgot">
            <label class="label-switch" for="log-form">Sign In Here</label>
        </div>
    </form>
</section>
