<% include header %>
<h2>Forecasts</h2>
<p>View forecasts or <a href="/forecasts/edit">add</a> a forecast.</p>
<% if (locals.flash) { %>
    <p><%= flash %></p>
<% } %>
<ul>
    <li class="header">
        <span class="field">User</span>
        <span class="field">Name</span>
        <span class="field">Description</span>
        <span class="field">StartDate</span>
        <span class="field">EndDate</span>
        <span class="field">Completed</span>
        <span class="field">Actions</span>
    </li>
    <% for(var i=0; i<forecasts.length; i++) {%>
            <li class="row">
                <span class="field"><%= forecasts[i]['user'] %></span>
                <span class="field"><%= forecasts[i]['name'] %></span>
                <span class="field"><%= forecasts[i]['description'] %></span>
                <span class="field"><%= forecasts[i]['startDate'] %></span>
                <span class="field"><%= forecasts[i]['endDate'] %></span>
                <span class="field"><%= forecasts[i]['completed'] %></span>
                <span class="field">
                    <a href="/forecasts/<%= forecasts[i]._id %>" >forecasts</a>
                </span>
            </li>
    <% } %>
</ul>
